---
export interface Props {
	image: string;
	imageAlt: string;
	title: string;
	className?: string;
}

const { image, imageAlt, title, className = "" } = Astro.props;
---

<div
	class={`bg-white dark:bg-zinc-900 rounded-xl border-solid border-zinc-200 dark:border-zinc-700 border-1 overflow-hidden transition-all duration-150 ease-in-out group hover:border-primary-300 hover:dark:border-primary-800 hover:bg-primary-50 hover:dark:bg-primary-950 ${className}`}>
	<div class="flex flex-col">
		<div
			class="relative w-full p-6 pb-0 saturate-30 dark:brightness-85 group-hover:saturate-100 dark:group-hover:brightness-100 transition-all duration-150 ease-in-out">
			<img src={image} alt={imageAlt} class="w-full h-full object-contain transition-transform duration-300" />
		</div>
		<div class="p-5">
			<div
				class="flex flex-row gap-x-2 items-center mb-2 text-gray-900 group-hover:text-primary-800 dark:text-zinc-100 dark:group-hover:text-primary-100">
				<slot name="icon" />
				<h3 class="text-1.35rem font-semibold transition-all duration-150 ease-in-out leading-tight">
					{title}
				</h3>
			</div>
			<p
				class="text-zinc-600 dark:text-zinc-300 group-hover:text-primary-800/75 dark:group-hover:text-primary-300 leading-normal transition-all duration-150 ease-in-out text-base m-0">
				<slot name="content" />
			</p>
		</div>
	</div>
</div>
