---
import { House, Book, ChartColumnBig, Music, CircleUser, Languages } from "@lucide/astro";
import NavbarAvatar from "./NavbarAvatar.astro";
import NavbarButton from "./NavbarButton.astro";
import { getEntry } from "astro:content";
import { createIntlCache, createIntl } from "@formatjs/intl";
import { GenerateRandomString } from "../../utils/Random";
import I18nButton from "./I18nButton.astro";

const { lang } = Astro.props;
const langObj = (await getEntry("i18n", lang || "en-US"))?.data;
const langEnUs = (await getEntry("i18n", "en-US"))?.data;
const cache = createIntlCache();
const intl = createIntl(
	{
		// Locale of the application
		locale: lang,
		// Locale of the fallback defaultMessage
		defaultLocale: "en-US",
		messages: langObj,
	},
	cache,
);

let i18n_cn_menuitem_id = GenerateRandomString(8) + "-menuitem";
let i18n_us_menuitem_id = GenerateRandomString(8) + "-menuitem";
---

<header class="w-full fixed top-0 left-0 z-114514">
	<div
		class="h-18 backdrop-blur-2xl bg-zinc-50/85 dark:bg-zinc-800/85 border-solid border-0 border-b-1 border-zinc-300 dark:border-zinc-700 flex flex-1 items-center px-12 flex-row">
		<img src="/gsu.png" alt="g0v0 logo" class="h-8 mr-6 dark:hidden" />
		<img src="/gsu-white.png" alt="g0v0 logo" class="h-8 mr-6 hidden dark:block" />
		<div id="navbar-items" class="flex flex-row gap-1">
			<NavbarButton text={intl.formatMessage({ id: "navbar.home", defaultMessage: langEnUs["navbar.home"] })} isActive={true}>
				<House class="h-5.5" slot="icon" />
			</NavbarButton>
			<NavbarButton text={intl.formatMessage({ id: "navbar.wiki", defaultMessage: langEnUs["navbar.wiki"] })}>
				<Book class="h-5.5" slot="icon" />
			</NavbarButton>
			<NavbarButton text={intl.formatMessage({ id: "navbar.ranking", defaultMessage: langEnUs["navbar.ranking"] })}>
				<ChartColumnBig class="h-5.5" slot="icon" />
			</NavbarButton>
			<NavbarButton text={intl.formatMessage({ id: "navbar.beatmaps", defaultMessage: langEnUs["navbar.beatmaps"] })}>
				<Music class="h-5.5" slot="icon" />
			</NavbarButton>
			<NavbarButton text={intl.formatMessage({ id: "navbar.profile", defaultMessage: langEnUs["navbar.profile"] })}>
				<CircleUser class="h-5.5" slot="icon" />
			</NavbarButton>
		</div>
		<div id="navbar-right" class="flex flex-auto justify-end items-center">
			<g0v0-navbar-color-switch class="mr-1"></g0v0-navbar-color-switch>
			<div class="w-1.5px h-6 bg-zinc-300 dark:bg-zinc-600 rounded-full mx-2"></div>
			<I18nButton lang={lang} />
			<NavbarAvatar username="Bliemhax" />
		</div>
	</div>
</header>
<div class="fake-header h-18 w-full"></div>
