---
import "../assets/styles/index.scss";

const { bodyClass } = Astro.props;
---

<!doctype html>
<html lang={Astro.locals.lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class={bodyClass}>
		<slot />
	</body>
	<script>
		// import shoelace
		import { setBasePath } from "@shoelace-style/shoelace/dist/utilities/base-path.js";
		setBasePath("/shoelace-assets/");
		import "@shoelace-style/shoelace";

		// import lit elements
		import { initLitElements } from "../components/LitElementsRegister";
		initLitElements();
	</script>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
